h1{color:aqua}
body{color:aliceblue}
body{background-color: slategray;}

.main-title{
    display: flex;
    justify-content: center;
}
.content-wrapper{
    display: flex;
    justify-content: center;
    align-content:space-around;
    border: 2px white solid;
    flex-direction: row;
}

.footer{
    display: flex;
    justify-content: center;
    align-content:space-around;
    flex-direction: column;
}